.gallery{
    display: inline-block;
    overflow: hidden;
  
}

.gallery img{
    width: 300px;
    height: 250px;
    transition: transform 3s ease;
    /* position: relative; */
    
}
.gallery img:hover{
    transform: scale(3.5);
}